@import "../../assets/styles/mixins.scss";

.btn {
	justify-self: flex-end;
	width: 150px;
	height: 40px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: $box-shadow-1;
	transition: $transition;
	cursor: pointer;
	@include Oleo-Script-18;
	text-decoration: none;

	&:hover {
		box-shadow: $box-shadow-2;
		transform: rotate(5deg);
	}

	&.btn-primary {
		background-color: $primary;
		color: white;
	}

	&.btn-secondary {
		background-color: $secondary;
		color: white;
	}

	&.btn-sm {
		width: 100px;
		height: 30px;
		font-size: 1.6rem;
	}
}
